{{ define "new" }}{{ template "header" . }}
<main class="px2">
  <h1>New Post</h1>
  <form action="/admin/new" method="POST">
    <input type="text" name="title" placeholder="Title" autofocus="true" required="true">
    <br>
    <div class="writing">
      <textarea name="body" placeholder="Body" rows="20"></textarea>
    </div>
    <input class="btn" type="submit" value="Submit">
  </form>
</main>{{ template "footer" }}{{ end }}
