{{ define "index" }}{{ template "header" . }}
<main>
  <h1>Home page</h1>
  {{ range . }}
    <h3><a href="/posts/{{ .ID }}">{{ .Title }}</a></h3>
    <p>{{ .Body }}</p>
  {{ end }}
</main>{{ template "footer" }}{{ end }}
